<div class="component-root" ref="root" v-deep>
    <div v-deep v-if="errorText" style="color: red;">{{errorText}}</div>
    <div v-deep v-if="type === 'binary'" class="binary-view">
        <div class="file icon large-icon center">
            <img :src="fileIcon" alt="File Icon" />
        </div>
        <div style="color:gray;font-size:x-small">Binary File</div>

        <div class="file text file-path center">
            <!-- <ElTooltip placement="top">
                <template #content>
                    <div style="max-width: 100%; word-break: break-all;">{{path}}</div>
                </template> -->
                <TextEdit v-deep class="path" ref="fileNameEditor1" v-model="filename" @changed="rename"></TextEdit>
            <!-- </ElTooltip> -->
        </div>

        <div class="file btn btn-group btn-primary">
            <ElButton type="primary" size="large" @click="downloadFile">
                <ElIcon style="color:white"><Download /></ElIcon>
                <span>{{tr('Download')}}</span>
            </ElButton>
            <ElButton size="large" @click="remoteExecute" :disabled="rseLoading" :loading="rseLoading">
                <span>{{tr('ui.file.o/rse.s')}}</span>
            </ElButton>
            <ElButton size="large" @click="modifyFav">
                <ElIcon style="font-size:1.5em">
                    <StarFilled style="color:gold" v-if="isFav" />
                    <Star style="color:silver" v-else />
                </ElIcon>
            </ElButton>
            <ElPopover placement="bottom" trigger="click">
                <template #reference>
                    <ElButton size="large">
                        <ElIcon><MoreFilled /></ElIcon>
                    </ElButton>
                </template>

                <ElSelect v-model="moreOptionValue" :teleported="false" placeholder="Choose a option..." size="small">
                    <ElOption v-for="item in moreOptionList" :key="item.id" :label="item.text" :value="item.id" :disabled="item.disabled" />
                </ElSelect>
            </ElPopover>
        </div>
    </div>
    <div v-deep v-if="type === 'preview'" class="preview">
        <div class="file text file-path" style="display: flex; align-items: center; width: 100%;">
            <img :src="fileIcon" alt="File Icon" style="height: 1em; margin-right: 8px;" />
            <!-- <ElTooltip placement="top-start">
                <template #content>
                    <div style="max-width: 100%; word-break: break-all;">{{path}}</div>
                </template> -->
                <TextEdit v-deep class="path" ref="fileNameEditor2" style="flex: 1; margin-right: 10px;" v-model="filename" @changed="rename"></TextEdit>
            <!-- </ElTooltip> -->
            <ElPopover placement="bottom" trigger="click">
                <template #reference>
                    <ElButton>
                        <ElIcon>
                            <MoreFilled />
                        </ElIcon>
                    </ElButton>
                </template>
            
                <ElSelect v-model="moreOptionValue" :teleported="false" placeholder="Choose a option..." size="small">
                    <ElOption v-for="item in moreOptionList" :key="item.id" :label="item.text" :value="item.id" :disabled="item.disabled" />
                </ElSelect>
            </ElPopover>
            <ElButton @click="modifyFav">
                <ElIcon style="font-size:1.2em">
                    <StarFilled style="color:gold" v-if="isFav" />
                    <Star style="color:silver" v-else />
                </ElIcon>
            </ElButton>
            <ElButton @click="downloadFile">
                <ElIcon><Download /></ElIcon>
                <span>{{tr('Download')}}</span>
            </ElButton>
        </div>
        <hr style="width:100%">
        <div v-deep class="preview-area" ref="previewArea">
            <ElButton v-if="!isPreview" type="primary" size="large" @click="preview">{{tr('Preview')}}</ElButton>
        </div>
    </div>
    <ElDialog v-deep v-model="openWithDialog" align-center draggable>
        <style>
            .el-dialog>>> {
                display: flex; flex-direction: column; overflow: hidden; min-width: 375px; max-height: 100%;
            }
            .el-dialog>>> .el-dialog__body { flex: 1; overflow: hidden; display: flex; }
        </style>
        <v-list-view :data="openWithData" no-multiple ref="openWithList" style="flex:1">
            <div slot="header">{{tr('ui.file.openwith.chooseText')}}</div>
        </v-list-view>
        <template #footer>
            <div style="display:flex">
                <ElButton size="large" type="primary" style="flex:1" @click="doOpenWith">{{tr('Open')}}</ElButton>
            </div>
        </template>
    </ElDialog>

    <dialog ref="fileprop" style="border: 1px solid">
        <div>{{filename}}</div><hr>

        <ElDescriptions :column="1" border>
            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.name') }}</template>
                <span>{{filename}}</span>
            </ElDescriptionsItem>
            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.size') }}</template>
                <span>{{toHumanReadableSize(serverSideFileInfo.size)}}</span>
            </ElDescriptionsItem>
            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.attr') }}</template>
                <span>{{serverSideFileInfo.attrs}}</span>
            </ElDescriptionsItem>
            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.fullpath') }}</template>
                <span>{{fileinfo.fullpath}}</span>
            </ElDescriptionsItem>

            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.time.create') }}</template>
                <span>{{serverSideFileInfo.time?.creation}}</span>
            </ElDescriptionsItem>
            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.time.access') }}</template>
                <span>{{serverSideFileInfo.time?.access}}</span>
            </ElDescriptionsItem>
            <ElDescriptionsItem>
                <template #label>{{ tr('ui.file.time.write') }}</template>
                <span>{{serverSideFileInfo.time?.write}}</span>
            </ElDescriptionsItem>

        </ElDescriptions>

        <br><div style="text-align:right"><ElButton @click="$refs.fileprop.close()" type="primary" plain>{{tr('dialog.close')}}</ElButton></div>
    </dialog>
</div>

<style>
.component-root>>> {
    width: calc(100% - (2 * var(--padding)));
    height: calc(100% - (2 * var(--padding)));
    padding: 10px;
    --padding: 10px;
}
.binary-view>>>, .preview>>> {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.binary-view>>> {
    justify-content: center;
}
.binary-view>>> .file-path {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-size: large;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.preview-area>>> {
    flex: 1;
    width: 100%;
    display: /*grid*/flex;
    place-items: center;
    place-content: center;
    overflow: hidden;
}
.path>>> {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
</style>
