<div v-deep>
    <h1>{{tr('ui.string:manageServer')}}</h1>

    <div v-if="!(servers.length)">{{tr('No Server')}}</div>

    <my-container v-for="item in servers">
        <div class="item" v-if="item">
            <div class="title">
                <input type="text" v-if="item && item.nameEditMode" autofocus :data-addr="item.addr" @blur="exitNameEditMode($event, true)" @keydown.enter="$event.target.blur()" @keydown.esc="exitNameEditMode($event, false)" v-model="item.name">
                <my-wrapper v-else>
                    <span>[</span>
                    <a href="#" class="delete" @click.prevent.stop="confirmDeleteServer" :data-addr="item.addr">x</a>
                    <span>]&nbsp;</span>
                    <span role="button" tabindex=0 :title="tr('Edit')+' name'" aria-label="Click to edit" :data-addr="item.addr" @click="enterNameEditMode" @keydown.enter="enterNameEditMode">{{item.name}}</span>
                </my-wrapper>
                
            </div>

            <table border="1">
                <tbody>
                    <tr>
                        <td>{{tr('ui.string:serverAddr')}}</td>
                        <td tabindex="0" data-key="addr" :data-addr="item.addr" @click="doModify" @keydown.enter.self="doModify">
                            <input type="text" class="edit" v-if="item.editMode?.addr" v-model="item.editMode.addr.data" @blur="finishModify" @keydown.enter="$event.target.blur()" @keydown.esc="$event.target.blur(item.editMode.addr.noSave = true)">
                            <span v-else class="content">{{item.addr}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>{{tr('ui.login.ui/pswd')}}</td>
                        <td tabindex="0" data-key="pswd" :data-addr="item.addr" @click="doModify" @keydown.enter.self="doModify">
                            <input type="text" class="edit" v-if="item.editMode?.pswd" v-model="item.editMode.pswd.data" @blur="finishModify" @keydown.enter="$event.target.blur()" @keydown.esc="$event.target.blur(item.editMode.pswd.noSave = true)">
                            <span v-else class="content pswdview" :data-real="item.pswd"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</my-container>

    <div style="margin-top: 20px;"><span tabindex="0" class="hover-tip" data-data="Click to edit">?</span></div>

    <ElDialog v-model="confirmDeleteUiOpen" align-center draggable title="Confirm">
        <div>Delete {{ nameToDelete_ }}?</div>
        <template #footer>
            <ElButton @click="confirmDeleteUiOpen = false;">{{tr('dialog.cancel')}}</ElButton>
            <ElButton type="danger" @click="confirmDeleteUiOpen = false; confirmDeleteServer($event, true)">{{tr('dialog.ok')}}</ElButton>
        </template>
    </ElDialog>

</div>

<style>
[v-deep] {
    padding: 10px;
}
>>> .item {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 0 2px 1px #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: auto;
}
>>> .item > .title {
    font-weight: bold;
    margin-bottom: 10px;
}
>>> .item > .title > input {
    width: 100%;
    box-sizing: border-box;
}
>>> .item > table td {
    padding: 5px;
}
>>> .item > table .pswdview::after {
    content: "******";
}
>>> .item > table .pswdview:hover::after {
    content: attr(data-real);
    font-size: xx-small;
}
>>> .item > table .content {
    white-space: nowrap;
}
>>> .hover-tip { cursor: help; user-select: none; }
>>> .hover-tip:hover::after, >>> .hover-tip:focus::after {
    content: attr(data-data);
    border: 1px solid;
    padding: 5px;
    position: relative;
    left: 10px;
}
</style>
