<div v-deep class="mobile-nav-tool">
    <ElButtonGroup>
        <ElButton v-deep text @click="a" :disabled="!canGoBack" aria-label="Back to last page in your browse history"><ElIcon><ArrowLeft /></ElIcon></ElButton>
        <ElButton v-deep text @click="b" aria-label="Reload the page"><ElIcon><RefreshRight /></ElIcon></ElButton>
        <ElButton v-deep text @click="c" :disabled="!canGoForward" aria-label="Go to next page in your browse history"><ElIcon><ArrowRight /></ElIcon></ElButton>
    </ElButtonGroup>
</div>

<style>
div>>> {
    display: none;
    padding: 5px;
    border-top: 1px solid;
    place-content: center;
}
@media screen and (max-width: 400px) {
div>>> {
    display: flex;
}
}
div>>> button {
    font-size: 1.2em;
    --color: var(--text-color);
}
button>>>:disabled {
    opacity: 0.5;
}
</style>