<div v-deep class="component-root">
    <h1>{{tr('doctitle$=settings')}}</h1>

    <details v-deep>
        <summary>{{tr('ui.settings.storage')}}</summary>

        <div style="padding: 10px;">
            <div v-if="estimateUnavailable">Not Applicable</div>
            <template v-else>
                <ElDescriptions :column="1" border>
                    <ElDescriptionsItem>
                        <template #label>{{ tr('ui.storage.estimate.quota') }}</template>
                        <span>{{prettyPrintFileSize(estimate?.quota)}}</span>
                    </ElDescriptionsItem>
                    <ElDescriptionsItem>
                        <template #label>{{ tr('ui.storage.estimate.usage') }}</template>
                        <span>{{prettyPrintFileSize(estimate?.usage)}}</span>
                    </ElDescriptionsItem>
                </ElDescriptions>
                <br>
                <ElDescriptions :column="1" border>
                    <ElDescriptionsItem>
                        <template #label>{{ tr('ui.storage.estimate.caches') }}</template>
                        <span>{{prettyPrintFileSize(estimate?.usageDetails.caches)}}</span>
                    </ElDescriptionsItem>
                    <ElDescriptionsItem>
                        <template #label>{{ tr('ui.storage.estimate.indexedDB') }}</template>
                        <span>{{prettyPrintFileSize(estimate?.usageDetails.indexedDB)}}</span>
                    </ElDescriptionsItem>
                    <ElDescriptionsItem>
                        <template #label>{{ tr('ui.storage.estimate.sw') }}</template>
                        <span>{{prettyPrintFileSize(estimate?.usageDetails.serviceWorkerRegistrations)}}</span>
                    </ElDescriptionsItem>
                </ElDescriptions>
            </template>
        </div>
    </details>

    <details v-deep>
        <summary>{{tr('ui.settings.sw')}}</summary>

        <div style="padding: 10px;">
            <div v-if="swUnavailable">Not Applicable</div>
            <template v-else>
                <div><b>Service Worker options available</b></div>
                <div><ElButton :disabled="hasAdvancedChanges" type="primary" plain style="width:100%" @click="openSWoption">{{tr('Open')}}</ElButton></div>
            </template>
        </div>
    </details>

    <details v-deep>
        <summary>{{tr('ui.settings.generic')}}</summary>

        <div style="padding: 10px;">
            <label class="settings-item" v-deep v-if="hasAdvancedChanges" style="color: #c67b00; font-weight: bold; font-size: large; white-space: normal;">
                {{tr('ui.settings.hasAdvancedChanges')}} <a style="font-family: NSimsun; margin-left: 0.5em;" href="javascript:;" @click.prevent="showChangesTip = true">{{tr('ui.settings.hasAdvancedChangesg')}}</a>
            </label>
            <label class="settings-item" v-deep>
                <input type="checkbox" :disabled="hasAdvancedChanges" v-model="settings_data.all2['file.preview.auto']">
                {{tr('ui.settings.item/file.preview.auto')}}
            </label>
            <label class="settings-item" v-deep>
                <input type="checkbox" :disabled="hasAdvancedChanges" v-model="settings_data.all2['nav.autohide']">
                {{tr('ui.settings.item/nav.autohide')}}
            </label>
        </div>
    </details>

    <details v-deep>
        <summary>{{tr('ui.settings.mediaplayers')}}</summary>

        <div style="padding: 10px;">
            <label class="settings-item" v-deep>
                <input type="checkbox" :disabled="hasAdvancedChanges" v-model="settings_data.all2['file.preview.media.autoplay']">
                {{tr('ui.settings.item/file.preview.media.autoplay')}}
            </label>
        </div>
    </details>

    <details v-deep open>
        <summary ref="allSettingsSummary">{{tr('ui.settings.all')}}</summary>

        <style>.c3ac44d7765f440791d15f66bcaf38a8[inert]{opacity: 0.3;}</style>
        <div v-if="commonChangesCount" style="margin-bottom: 1em; font-weight: bold; font-size: large; color: #c67b00;">
            <span v-text="tr('ui.settings.hasCommonChanges')"></span><span>[{{commonChangesCount}}]</span>
            <a style="font-family: NSimsun; margin-left: 0.5em;" href="javascript:;" @click.prevent="showChangesTip = true">{{tr('ui.settings.hasAdvancedChangesg')}}</a>
        </div>
        <OptionList class="c3ac44d7765f440791d15f66bcaf38a8" :inert="commonChangesCount" v-model="settings_data.all" @changed="updateSettings()"></OptionList>

        <details style="margin-top: 40px">
            <summary>Tips</summary>
            <ol>
                <li>You can input "true" or "false" directly and they will be converted to Boolean automatically!</li>
                <li>You can add "String:" before a number to store it as a string, or it will be converted to a number.</li>
                <li>You can focus on the text and press [Shift+Enter] to edit the item in multiline mode.</li>
            </ol>
        </details>

        <!-- <style>.f5877732cfbf45c8a91f019c71e1aa6b-core {height: revert !important;}.f5877732cfbf45c8a91f019c71e1aa6b {height: 5em !important;}</style> -->
        <!-- <ElDrawer v-model="showChangesTip" direction="ttb" :with-header="false" :modal="false" modal-class="f5877732cfbf45c8a91f019c71e1aa6b" class="f5877732cfbf45c8a91f019c71e1aa6b-core" :lock-scroll="false"> -->
        <div v-show="showChangesTip" style="position: fixed; z-index: 999; background: var(--background, #fff); box-shadow: 0 0 10px 0 gray; inset: 0; bottom: unset; padding: 1em;">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <div style="display: flex; align-items: center; justify-content: center; font-size: x-large;"><ElIcon style="rotate: 180deg;"><Warning /></ElIcon><b v-text="tr('ui.settings.changesTakeEffectAfterPageReload')" style="margin-left: 0.5em;"></b></div>
                <div style="display: flex; margin-top: 0.5em;">
                    <ElButton @click="reloadPage" type="success" plain v-text="tr('ui.settings.changesTakeEffectAfterPageReloadnow')"></ElButton>
                    <ElButton @click="showChangesTip = false" type="danger" plain v-text="tr('ui.settings.changesTakeEffectAfterPageReloadno')"></ElButton>
                </div>
            </div>
        </div>
        <!-- </ElDrawer> -->
    </details>

    <div v-deep class="ver">
        <div>Version: <span v-text=appVersion></span></div>
    </div>
</div>

<style>
.component-root>>> {
    padding: 10px;
}

details>>> {
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
}
details>>> * {
    white-space: nowrap;
}
details>>>+details>>> {
    margin-top: 15px;
}
details>>>>summary {
    cursor: pointer;
}
.ver>>> {
    border: 1px solid #ccc;
    padding: 10px;
    color: gray;
    margin-top: 30px;
    white-space: nowrap;
    overflow: auto;
}
.settings-item>>> {
    display: block;
}
.settings-item[v-deep]+.settings-item>>> {
    margin-top: 0.5em;
}
</style>
