<div v-deep class="component-root">
    <h1>{{tr('doctitle$=settings')}}</h1>

    <fieldset v-deep>
        <legend>{{tr('ui.settings.all')}}</legend>

        <OptionList v-model="settings_data.all" @changed="updateSettings"></OptionList>
    </fieldset>

    <details style="margin-top: 40px">
        <summary>Tips</summary>
        <ol>
            <li>You can input "true" or "false" directly and they will be converted to Boolean automatically!</li>
            <li>You can add "String:" before a number to store it as a string, or it will be converted to a number.</li>
        </ol>
    </details>
</div>

<style>
.component-root>>> {
    padding: 10px;
}

fieldset>>> {
    border: 1px solid #ccc;
}
fieldset>>>+fieldset>>> {
    margin-top: 15px;
}

</style>
