<div v-deep>
    <h1>{{tr('doctitle$=serverList')}}</h1>

    <p><ElButton size="large" @click="addServer">{{ tr('ui.string:addServer') }}</ElButton></p>

    <ElCard v-for="item in srvBuffer" style="overflow: auto; margin-top: 30px;">
        <template #header>
            <div class="card-header">
                <TextEdit v-model="item.name" inline :id-init="item.addr" custom-data="name" @changed="updateData" />

                <span>
                    <ElButton @click="editServer">{{ tr('Edit') }}</ElButton>
                    <ElButton type="danger" plain :data-addr="item.addr" @click="deleteServer">{{ tr('Delete') }}</ElButton>
                    <ElButton type="primary" plain :data-addr="item.addr" @click="toggleServer">{{ tr('Open') }}</ElButton>
                </span>
            </div>
        </template>

        <div>
            <ElDescriptions :title="item.name" :column="1" border>
                <ElDescriptionsItem>
                    <template #label>ID</template>
                    <span>{{ btoa(item.addr) }}</span>
                </ElDescriptionsItem>

                <ElDescriptionsItem>
                    <template #label>{{tr('ui.string:serverAddr')}}</template>
                    <TextEdit :id-init="item.addr" custom-data="addr" v-model="item.addr" @changed="updateData" :parser="value => UriEncode(value)" />
                </ElDescriptionsItem>

                <ElDescriptionsItem>
                    <template #label>{{tr('ui.login.ui/pswd')}}</template>
                    <TextEdit :id-init="item.addr" custom-data="pswd" v-model="item.pswd" @changed="updateData" show-password />
                </ElDescriptionsItem>

                <ElDescriptionsItem>
                    <template #label>{{tr('Remarks')}}</template>
                    <TextEdit :id-init="item.addr" custom-data="remarks" v-model="item.remarks" @changed="updateData" type="textarea" autosize />
                </ElDescriptionsItem>
            </ElDescriptions>
        </div>
    </ElCard>

    <ElDialog v-model="showDeleteConfirm" title="" align-center :show-close="false" :close-on-click-modal="false" style="width: auto">
        <ElButton type="primary" @click="showDeleteConfirm=false">{{tr('dialog.cancel')}}</ElButton>
        <ElButton type="danger" @click="confirmDelete">{{tr('Delete')}}</ElButton>
    </ElDialog>
</div>

<style>
[v-deep] {
    padding: 20px;
}
>>> .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
